.cart {
    width: 300px;
    position: absolute;
    padding: 15px;
    -webkit-box-shadow:  -2px 0px 10px rgba(0,0,0, .2);
    -moz-box-shadow:  -2px 0px 10px rgba(0,0,0, .2);
    box-shadow:  0px 0px 10px rgba(0,0,0, .2);
    right: -400px;
    -webkit-transition: right .3s;
    -moz-transition: right .3s;
    -ms-transition: right .3s;
    -o-transition: right .3s;
    transition: right .3s;
    background: white;
}
.cart__switcher {
    position: absolute;
    right: 160px;
    top: -75px;
}
.cart__is-open {
    right: -80px;
}
.cart__products-list {
    height: 300px;
    overflow-y: scroll;
}

.button-delete {
    background-color: indianred;
}

.cart-product {

}

.cart__title {
    margin-top: 0;
    margin-bottom: 10px;
}

.cart__price-tag {
    margin-bottom: 25px;
}

.cart-product {
    margin-bottom: 25px;
}
.cart-product__title {
    font-size: 20px;
    margin-bottom: 5px;
}
.cart-product__price {
    margin-bottom: 10px;
}