.product {
	padding: 25px 0;
	height: 300px;
	width: 300px;
}

.product__name {
	font-size: 30px;
	margin-bottom: 10px;	
}

.product__price {
	color: #555;
}

/*.product__add-to-cart {*/
	/*background: #1976D2;*/
	/*padding: 15px 30px;*/
	/*color: white;*/
	/*border: none;*/
	/*border-radius: 5px;*/
	/*cursor: pointer;*/
/*}*/
